html {
    width: 100%;
    height: 100%;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.center-arrow {
    width: 64px;
    height: 64px
}

.left-arrow {
    width: 96px;
    height: 64px;
    background-repeat: no-repeat;
    background-image: url("http://192.168.0.101/Images/arrow-left@64x64.png");
    background-position: right;
}

.left-arrow-hover {
    background-image: url("http://192.168.0.101/Images/arrow-left-pressed@64x64.png");
}

.right-arrow {
    width: 96px;
    height: 64px;
    background-repeat: no-repeat;
    background-image: url("http://192.168.0.101/Images/arrow-right@64x64.png");
    background-position: left;
}

.right-arrow-hover {
    background-image: url("http://192.168.0.101/Images/arrow-right-pressed@64x64.png");
}

.up-arrow {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-image: url("http://192.168.0.101/Images/arrow-up@64x64.png");
}

.up-arrow-hover {
    background-image: url("http://192.168.0.101/Images/arrow-up-pressed@64x64.png");
}

.down-arrow {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-image: url("http://192.168.0.101/Images/arrow-bottom@64x64.png");
}

.down-arrow-hover {
    background-image: url("http://192.168.0.101/Images/arrow-bottom-pressed@64x64.png");
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

#direction-control-up {
    width: 256px;
    background-position: center;
}

#direction-control-down {
    width: 256px;
    background-position: center;
}

.direction-controller {
    position: fixed;
    z-index: 2;
    bottom: 20px;
    width: auto;
    padding-left: 0px;
    padding-left: env(safe-area-inset-left);
}

.speed-controller {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 16px;
    padding-right: 0px;
    padding-right: env(safe-area-inset-right);
}

#streamWebCam {
    width: calc(100% + 7px);
    left: -7px;
    height: 100%;
    position: fixed;
    z-index: 0;
}

#speed-control-backward {
    width: 96px;
    height: 96px;
    background-position: center bottom;
}

#speed-control-forward {
    width: 96px;
    height: 96px;
    background-position: center bottom;
}

/* Context Menü bei langem drücken unterdrücken */
body {
    -webkit-touch-callout: none !important;
}

a {
    -webkit-user-select: none !important;
}

.setting-display {
    display: none;
}

@media only screen and (orientation:portrait) {
    .direction-controller {
        display: none;
    }

    .latency-lost {
        bottom: 0px !important;
        margin-bottom: 50px !important;
    }

    .speed-controller {
        display: none;
    }

    .setting-display {
        display: block;
    }

    .speed-color {
        top: 60px !important;
        left: 50% !important;
        margin-left: -50px !important;
    }

    .latency {
        top: 20px !important;
        left: 50% !important;
        margin-left: -50px !important;
    }
}

.automatic-drive-button {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-image: url("http://192.168.0.101/Images/automatic-drive@64x64.png");
}

.automatic-drive-active-button {
    background-image: url("http://192.168.0.101/Images/automatic-drive-active@64x64.png");
}

.automatic-drive-container {
    position: fixed;
    z-index: 20;
    top: 20px;
    right: 20px;
    padding-right: 0px;
    padding-right: env(safe-area-inset-right);
}

.fullscreen-button {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-image: url("http://192.168.0.101/Images/fullscreen@64x64.png");
}

.fullscreen-active-button {
    background-image: url("http://192.168.0.101/Images/fullscreen-active@64x64.png");
}

.fullscreen-button-container {
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 20px;
    padding-left: 0px;
    padding-left: env(safe-area-inset-left);
}

.latency {
    position: fixed;
    z-index: 30;
    top: 20px;
    left: 50%;
    margin-left: -110px;
    width: 100px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.latency-image {
    float: right;
    background-image: url("http://192.168.0.101/Images/latency@24x24.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.latency-good {
    background-color: green;
    background: rgba(181, 230,29,0.5);
}

.latency-okay {
    background-color: orange;
    background: rgba(255, 185, 38, 0.5);
}

.latency-bad {
    background-color: red;
    background: rgba(223, 36, 36, 0.5);
}

.latency-milliseconds {
    float: right;
    padding-top: 4px;
    padding-right: 5px;
}

.latency-lost {
    position: fixed;
    z-index: 40;
    bottom: 50%;
    left: 50%;
    width: 350px;
    margin-left: -175px;
    height: 46px;
    margin-bottom: 23px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
    color: rgb(204, 40, 40);
}

.latency-lost-hide {
    display: none;
}

.speed-color {
    background: black;
    background: rgba(217, 243, 255, 0.5);
    position: fixed;
    z-index: 30;
    top: 20px;
    left: 50%;
    margin-left: 10px;
    width: 100px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.speed-table td {
    width: 100%;
    color: black;
}

    .speed-table td:first-child {
        text-align: right;
    }

.setting-icon {
    background-image: url("http://192.168.0.101/Images/setting-icon@30x30.png");
    background-repeat: no-repeat;
    background-position: center right;
    width: 30px;
    height: 30px;
    padding-left: 86px;
}

.setting-color div {
    font-weight: bold;
    color: white;
    z-index: 50;
}

.setting-color {
    background: black;
    background: rgba(217, 243, 255, 0.5);
    position: fixed;
    z-index: 2000;
    top: 116px;
    left: 50%;
    margin-left: -101px;
    width: 202px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.setting-menu-point-hover {
    cursor: pointer;
    color: black !important;
}

.setting-menu-point-hover-hover {
    color: white !important;
}

.visible {
    display: inline !important;
}

.invisible {
    display: none;
}

.tachometer-image {
    float: right;
    background-image: url("http://192.168.0.101/Images/tachometer@24x24.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 8px;
}

.speed-left-container {
    float: left;
    width: 75px;
}

.speed-right-container {
    float: left;
    width: 25px;
}

.settings-menu-point {
    height: 30px;
    padding-top: 6px;
}

.speaker-on-image {
    background-image: url("http://192.168.0.101/Images/audio_volume_high@24x24.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.speaker-off-image {
    background-image: url("http://192.168.0.101/Images/audio_volume_mute@24x24.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.dance-on-image {
    background-image: url("http://192.168.0.101/Images/dance_on@24x24.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.dance-off-image {
    background-image: url("http://192.168.0.101/Images/dance_off@24x24.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.cliff-sensor-on-image {
    background-image: url("http://192.168.0.101/Images/cliff_sensor_on@24x24.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.cliff-sensor-off-image {
    background-image: url("http://192.168.0.101/Images/cliff_sensor_off@24x24.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.shutdown-image {
    background-image: url("http://192.168.0.101/Images/close@24x24.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.restart-image {
    background-image: url("http://192.168.0.101/Images/reload@24x24.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.setting-menu-container {
    z-index: 50;
}

.latency-lost-image {
    vertical-align: middle;
}
